.dashboardContainer
{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: yellow;
    flex-wrap: wrap;
}
.dashboardCard
{
    margin: 1%;
    width: 15rem;
    
}
.dashboardCardTitle
{
 
}

.dashboardCardGraph
{
    width: 20rem;
}