.messageContainer {
    border-style: solid;
    border-color: green;

}

.messageListItem {
    margin: 1% 0%;
}

.messageBody {
    background-color: rgb(219, 242, 238);
    padding-bottom: 100%;

}

.messageReceived {
    margin-top: 2%;
    margin-right: 20%;
    display: block ;
    padding: 0% 1%;
    background-color: rgb(217, 225, 224);
    color: rgb(12, 10, 10);
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
    word-break: break-word;
    border-style:groove;
    border-radius: 10px;
}
.messageReceivedBody
{
    display: inline;
}
.messageReceivedTime
{
    /* border-style: solid; */
    margin-left: 10%;
    margin-top: 1%;
    
    font-size:x-small;
    float:right;
    
}
.messageSend {
    margin-top: 2%;
    border-style: groove;
    margin-left: 20%;
    padding: 0% 1%;
    display: block;
    background-color: rgb(217, 225, 224);
    color: rgb(12, 10, 10);
    word-break: break-word;
    border-radius: 10px;
    
}
.messageSendBody
{
    display: inline;
}
.messageSendTime
{
    /* border-style: solid; */
    margin-left: 10%;
    margin-top: 1%;
    
    font-size:x-small;
    float:right;
    
}

.messageBar
{
    /* border-style: solid; */
    display: flex;
    
    
}
.messageInput
{
    word-break: break-word;
    width: 100%;
}