.Navbar
{
    background-color: rgb(225, 225, 232);
    padding: 1px 0px;
    
}
.NavbarList li
{
    
    display:inline;
    margin-right: 2%;
}

.NavbarLink
{
    text-decoration: none;
    color: black;
}
